<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Vuefront_Brands::brand" title="Brand" translate="title" module="Vuefront_Brands" sortOrder="10" dependsOnModule="Vuefront_Brands" resource="Vuefront_Brands::brand" action="vuefront_brands/brand"/>
             resource="Vuefront_Brands::brand"/>
    </menu>
</config>
